/*******************************
Le container nous permet de centrer
notre design dans la page.
On en profite pour centrer les
textes et les passer en blanc pour
la totalité de la page.
*******************************/
*{
    margin: 0 auto;
    padding: 0;
}

body{
    width: 90%;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightslategray;
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}

#sec1{
    background: mistyrose;
    margin-top : 20px;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}
#sec2{
    background:white;
    margin-top : 20px;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}

.square{

    background: lightseagreen;
    margin-top : 20px;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}
footer{
    background: lightslategray;
    margin-top : 20px;
    margin-bottom: 20px;
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}