/*******************************
Le container nous permet de centrer
notre design dans la page.
On en profite pour centrer les
textes et les passer en blanc pour
la totalité de la page.
*******************************/
*{
    margin: 0 ;
    padding: 0;
}

body{
    width: 90%;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightslategray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-around;
}
  
#sec1{
    background: mistyrose;
    margin-top : 20px;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#sec2{
    background:white;
    margin-top : 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 50px;
    flex-wrap:wrap;
}

.square{

    background: lightseagreen;
    margin: 50px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*text-align: center;*/
    justify-content: center;
}

.square div {
    height: 100px;
    width: 100px;
    background-color: lightgrey;
}
/*Pour survoler le carrés et qu'ils disparaissent*/
.square:hover div{
    display: none;
}
footer{
    background: lightslategray;
    margin-top : 20px;
    margin-bottom: 20px;
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}